.nav-bar-container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    background-color: #4B5783;
    img{
        height: 100%;
        cursor: pointer;
    }
    .nav-bar-right{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 310px;
        span{
            font-size: 22px;
            color: #6AB075;
        }
        .user-logo{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            width: 55px;
            height: 55px;
            background-color: #B06AA1;
            border-radius: 55px;
            cursor: pointer;
        }
        button{
            background-color: #182335;
            font-weight: 400;
            color: #fff;
            border-radius: 10px;
            font-size: 17px;
            padding: 10px 25px;
            border: none;
            cursor: pointer;
        }
    }
}